@page
@model EditFlowerModel
@using Repository;
@using Microsoft.AspNetCore.Http;
@using BusinessObject;

@{
    var role = HttpContext.Session.GetString("role");
    var name = HttpContext.Session.GetString("name");

    
}
<style>
    .btn-primary {
        float: left;
    }

    .btn-right {
        float: right;
    }

</style>
@{
    if (role == "admin")
    {
        <h1>Manage Customers</h1>
        <p>Welcome, Admin @name!</p>

        IFlowerRepository _flowerRepository = new FlowerRepository();
        var flowerId = HttpContext.Session.GetString("FlowerID");
        var flower = _flowerRepository.GetFlowers().Where(x => x.FlowerBouquetId == int.Parse(flowerId)).FirstOrDefault();

        ICategoryRepository _categoryRepository = new CategoryRepository();
        var categories = _categoryRepository.GetCategories();
        Category currentCategory = null;
        if (flower.CategoryId != 0)
        {
            currentCategory =  _categoryRepository.GetCategoryByID(flower.CategoryId);
        } 
        ISupplierRepository _supplierRepository = new SupplierRepository();
        var suppliers = _supplierRepository.GetSuppliers();
        Supplier currentSupplier = null;
        if (flower.SupplierId != null)
        {
            currentSupplier = _supplierRepository.GetSupplierByID(flower.SupplierId.Value);
        }
     




        <form method="post" asp-page-handler="UpdateFlower">
            <input type="hidden" name="flowerId" value="@flower.FlowerBouquetId" />
            <div class="form-group">
                <label for="categoryId">Category</label>
                <select class="form-control" id="categoryId" name="categoryId">
                    @if(@currentCategory == null)
                    {
                        <option value="">No Category</option>
                    }
                    else
                    {
                    <option value="@currentCategory.CategoryId">@currentCategory.CategoryName</option>
                    }
                    
                    @foreach (var category in categories)
                    {
                        if (currentCategory == null)
                        {
                            <option value="@category.CategoryId">@category.CategoryName</option>
                        }
                        else if(category.CategoryName != currentCategory.CategoryName)
                        {
                            <option value="@category.CategoryId">@category.CategoryName</option>
                        }
                    }
                </select>
            </div>
            <div class="form-group">
                <label for="flowerName">Flower Bouquet Name</label>
                <input type="text" class="form-control" id="flowerName" name="flowerName" value="@flower.FlowerBouquetName" />
            </div>
            @if (ViewData["Name"] != null)
            {
                <div class="alert alert-warning" role="alert">
                    @ViewData["Name"]
                </div>
            }
            <div class="form-group">
                <label for="description">Description</label>
                <input type="text" class="form-control" id="description" name="description" value="@flower.Description" />
            </div>
            <div class="form-group">
                <label for="unitPrice">Unit Price</label>
                <input type="text" class="form-control" id="unitPrice" name="unitPrice" value="@flower.UnitPrice" />
            </div>
            @if (ViewData["UnitPrice"] != null)
            {
                <div class="alert alert-warning" role="alert">
                    @ViewData["UnitPrice"]
                </div>
            }
            <div class="form-group">
                <label for="unitInStock">Unit In Stock</label>
                <input type="text" class="form-control" id="unitInStock" name="unitInStock" value="@flower.UnitsInStock" />
            </div>
            @if (ViewData["UnitInStock"] != null)
            {
                <div class="alert alert-warning" role="alert">
                    @ViewData["UnitInStock"]
                </div>
            }
            <div class="form-group">
                <label for="supplierId">Supplier</label>
                <select class="form-control" id="supplierId" name="supplierId">
                    @if (currentSupplier == null)
                    {
                        <option value="">No Supplier</option>
                    }
                    else
                    {
                        <option value="@currentSupplier.SupplierId">@currentSupplier.SupplierName</option>
                    }
                    @foreach (var supplier in suppliers)
                    {
                        if (currentSupplier == null)
                        {
                            <option value="@supplier.SupplierId">@supplier.SupplierName</option>
                        }
                        else if (supplier.SupplierName != currentSupplier.SupplierName)
                        {
                            <option value="@supplier.SupplierId">@supplier.SupplierName</option>
                        }
                    }
                </select>
            </div>
            <div class="form-group">
                <label for="flowerBouquetStatus">Status</label>
                <input type="text" class="form-control" id="flowerBouquetStatus" name="flowerBouquetStatus" value="@flower.FlowerBouquetStatus" />
            </div>
            @if (ViewData["Status"] != null)
            {
                <div class="alert alert-warning" role="alert">
                    @ViewData["Status"]
                </div>
            }
            <button type="submit" class="btn btn-primary">Update</button>
        </form>
        //if update success show the message using
        @if (ViewData["Message"] != null)
        {
            <div class="alert alert-success" role="alert">
                @ViewData["Message"]
            </div>
        }


        <a href="/Flower/ManageFlower" class="btn btn-primary btn-right">Back to Manage Flower</a>

    }
    else
    {
        <h1>Access Denied</h1>
        <p>This page is restricted to administrators only. Please log in as an admin to access this page.</p>
        <a href="/login" class="btn btn-primary">Go to Login</a>
    }
}