@page
@using Microsoft.AspNetCore.Http;
@using Repository;
@model ManageFlowerModel
@using BusinessObject;

@{
    var role = HttpContext.Session.GetString("role");
    var name = HttpContext.Session.GetString("name");

    IFlowerRepository _flowerRepository= new FlowerRepository();
    var flowers = _flowerRepository.GetFlowers();
}
<script>
    function confirmDelete() {
        var result = confirm("Are you sure you want to delete this flower?");
        if (result) {
            return true;
        }
        else {
            return false;
        }
    }
</script>

@{

    @if (role == "admin")
    {
        <h1>Manage Flower Bouquets</h1>
        <p>Welcome, Admin @name!</p>
        <a href="/MainPage" class="btn btn-primary">Back to MainPage</a>

        <table class="table">
            <thead>
                <tr>
                    <th>Flower ID</th>
                    <th>Category</th>
                    <th>Flower Bouquet Name</th>
                    <th>Description</th>
                    <th>UnitPrice</th>
                    <th>Unit In Stock</th>
                    <th>Status</th>
                    <th>Supplier</th>
                </tr>
            </thead>
            <tbody>
                @foreach (var flower in flowers)
                {
                    <tr>
                        <td>@flower.FlowerBouquetId</td>
                        @{
                            string categoryName = "";
                            //get category name by category id using category repository
                            ICategoryRepository _categoryRepository = new CategoryRepository();
                            var category = _categoryRepository.GetCategoryByID(flower.CategoryId);
                            categoryName = category.CategoryName;
                        }
                        <td>@categoryName</td>
                        <td>@flower.FlowerBouquetName</td>
                        <td>@flower.Description</td>
                        <td>@flower.UnitPrice</td>
                        <td>@flower.UnitsInStock</td>
                        <td>@flower.FlowerBouquetStatus</td>
                        @{
                            string supplierName = "";
                            //Check null flower.supplierid
                            if (flower.SupplierId != null)
                            {
                                ISupplierRepository _supplierRepository = new SupplierRepository();
                                var supplier = _supplierRepository.GetSupplierByID(flower.SupplierId.Value);
                                supplierName = supplier.SupplierName;
                            }
                        }
                        <td>@supplierName</td>
                        <td>
                            <form method="post" asp-page-handler="UpdateFlower">
                                <input type="hidden" name="FlowerId" value="@flower.FlowerBouquetId" />
                                <button type="submit" class="btn btn-primary">Update</button>
                            </form>
                            <form method="post" asp-page-handler="DeleteFlower" onsubmit="return confirmDelete()">
                                <input type="hidden" name="FlowerId" value="@flower.FlowerBouquetId" />
                                <button type="submit" class="btn btn-danger">Delete</button>
                            </form>

                        </td>
                    </tr>
                }
            </tbody>


        </table>

        @if (ViewData["Message"] != null)
        {
            <script>
                var message = @Html.Raw(Json.Serialize(ViewData["Message"].ToString()));
                alert(message);
            </script>
        }
        <a href="/Flower/AddFlower" class="btn btn-primary">Add New Flower</a>
    }
    else
    {
        <h1>Access Denied</h1>
        <p>This page is restricted to administrators only. Please log in as an admin to access this page.</p>
        <a href="/login" class="btn btn-primary">Go to Login</a>
    }


}
